!!!

/
  Hello source-viewer! This project was built using ClojureScript
  (clojure.org/clojurescript), the JavaScript output of which is highly
  optimized and unintelligible to mortals. If you want to tinker, you should
  take a look at the original ClojureScript source code. This page should
  contain a link to the main source code repository.

%html
  %head
    %title UNITPARTY
    %link{rel: 'stylesheet', href: 'css/unitparty.css'}
    %script{src: 'js/unitparty.js'}
    :javascript
      (function () {
        var checkready = setInterval(function () {
          if (document.readyState === 'complete') {
            unitparty.user.init();
            clearInterval(checkready);
          }
        }, 10);
      })();

  %body
    %header
      %h1#title
        %span.title1> UNIT
        %span.title2 PARTY
      %noscript
        %strong
          requires JavaScript!

    %section#party
      %input#amount{type: 'text', title: 'Quantity to convert', value: 1}
      %input#source{type: 'text', title: 'Source unit', value: 'minute'}
      %span&= "=>"
      %input#target{type: 'text', title: 'Target unit', value: 'seconds'}
      #output

    %section#help.content
      :markdown
        ## UNITPARTY is a unit converter.

        It recognizes unit multiplication (`kilowatt * hour`),
        division (`meters / second`), and exponentiation (`miles ^ 2`).
        Operations can be grouped using parentheses.

        It knows what units are compatible, and won't try to convert between
        incompatible units.  For example, it will convert degrees Fahrenheit
        to degrees Celsius, but not degrees Celsius to kilograms.

        It is somewhat aware of significant figures. If an answer seems
        slightly off, try adding a few more digits of precision to the input.

        To use UNITPARTY, edit the text in any of the underlined fields above.

        ### Disclaimer:

        UNITPARTY is not a tool for serious research or scientific
        computation. Many of the units it recognizes are not standardized,
        and figures calculated by UNITPARTY may not agree precisely with
        figures from other sources.

        That said, if you believe that UNITPARTY is in serious error, please
        [email the author](mailto:walpurgisriot@gmail.com).

        ### Sources:

        Any unit conversion that isn't common knowledge can be safely assumed
        to have been gleaned from [Wikipedia](https://www.wikipedia.org).

      .center
        %span.list_container
          %h3 UNITPARTY knows about these units:
          %ul#unitlist.infolist
        %span.list_container
          %h3 ... and recognizes these metric prefixes:
          %ul#prefixlist.infolist

    %footer
      :markdown
        [feivel jellyfish](mailto:walpurgisriot@gmail.com) made this in 2013.
        It is released under the [GNU GPL](https://www.gnu.org/licenses/gpl.html).

