body {
  margin: 0px;
}

#header {
  margin-bottom: 48px;
  font-family: 'Courier New',monospace;
}

#title {
  margin-left: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 40px;
  display: inline;
}

#unit {
  color: lightgreen;
}

#party {
  color: magenta;
}

#unit:hover {
  color: magenta;
}

#party:hover {
  color: lightgreen;
}

#unitparty {
  text-align: center;
  color: #4a4a4a;
  font-size: 40px;
  font-weight: bold;
  padding-top: 48px;
  font-family: 'Courier New',monospace;
}

#navbar {
  font-size: 30px;
  margin-left: 48px;
}

#navbar > span {
}

#output {
  margin: 24px;
  padding: 25px;
  min-height: 60px;
}


input {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 2px solid lightgrey;
  color: #4a4a4a;
  background-color: rgba(240,240,240,0);
  outline: none;
  font-size: 30px;
  text-align: center;
  font-family: 'Courier New',monospace;
  font-weight: bold;
}

input.error {
  border-color: pink;
  border-style: dashed;
}

input.ok {
  border-color: lightgreen;
}


#unitparty > span {
  display: inline-block;
}

#help {
  margin-top: 48px;
  padding: 6px;
  margin-left: 8px;
  margin-right: 8px;
  border-top: 1px dotted darkgrey;
}

#help > div {
  padding: 24px;
}


.column {
  width: 40%;
  padding: 16px;
  display: inline-block;
}

.column:first-child {
  border-right: 1px dotted darkgrey;
}

.list_container {
  display: inline-block;
  vertical-align: top;
  margin-left: 48px;
  margin-right: 48px;
  text-align: left;
}

.list_entry {
  cursor: help;
}

.list_entry:hover {
  text-decoration: underline;
}

#about {
  text-align: center;
  font-size: small;
}


